body {
    font-family: Verdana, sans-serif;
}

.calculator {
    background-color: pink;
    height: 650px;
    width: 430px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.display {
    background-color: black;
    height: 100px;
    width: 370px;
    padding: 25px;
    border-radius: 20px;
    color: white;
    text-align: end;
    font-size: 40px;
}

button {
    font-size: 26px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 20px;
}

button.digit {
    background-color: salmon;
}

button.operator, .result, .clear {
    background-color: coral;
}

.top {
    display: flex;
    gap: 10px;
    width: 430px;
}

.bottom {
    display: flex;
    width: 430px;
    gap: 10px;
}

.digits {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#zero {
    width: 210px;
}

.bottom-operators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#plus, .result {
    height: 210px;
}